doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(href="/css/main.css" rel="stylesheet")
        title Login
    body(class="d-flex justify-content-center align-items-start")
        div(class="card" style="width: 18rem;")
            div(class="card-body")
                h5(class="card-title") UTRD1 v1.1
                p(class="card-text") MUVD Technical Reference Documentation
                a(href="/muvd" class="btn btn-primary stretched-link") Acessar

        div(class="card" style="width: 18rem;")
            div(class="card-body")
                h5(class="card-title") TRD4 v4.4
                p(class="card-text") MGCP Technical Reference Documentation
                a(href="/trd" class="btn btn-primary stretched-link") Acessar
    script(src="/js/bootstrap.min.js")
